* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.left-side {
    min-height: 100vh;
    position: relative;
    width: 30vw;
}

a {
    color: white;
}

h1 {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Troika", sans-serif;
    font-size: 4rem;
    margin: 2% 0;
    background-color: rgb(102 96 96 / 30%);
}

h1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 130px);
    top: 50%;
    transform: translateY(-50%);
    background: url(./images/odin-lined.png) center / contain no-repeat;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

img {
    height: 100vh;
    width: 30vw;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    min-height: 30%;
}

form {
    min-height: 40%;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 10px 10px rgb(143 139 139 / 0.4);
}

header h2,
header p {
    font-size: 2rem;
    margin: 3rem;
    font-weight: normal;
}

form h2 {
    margin: 1.5rem 3rem;
}

form>p {
    margin: 1rem 0 0 3rem;
}


.form-row {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

input {
    max-width: 50%;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid gray;
}

input:focus {
    border: 2px solid black;
}

input[type="password"] {
    border: 2px solid rgb(106, 37, 170);
}

input:user-invalid {
    border: 2px solid red;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

button {
    font-size: 25px;
    margin: 3rem;
    color: white;
    background-color: rgb(90, 129, 90);
    border-radius: 10px;
    padding: 0.5em 1em;
}

footer p {
    font-size: 1.5rem;
    margin: 1rem 3rem;
}

footer a {
    color: rgb(90, 129, 90);
}