* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.left-side {
    min-height: 100vh;
    position: relative;
    width: 30vw;
}

a {
    color: white;
}

h1 {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Troika", sans-serif;
    font-size: 50px;
    margin: 2% 0;
    background-color: rgb(102 96 96 / 30%);
}

h1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 130px);
    top: 50%;
    transform: translateY(-50%);
    background: url(./images/odin-lined.png) center / contain no-repeat;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

img {
    height: 100vh;
    width: 30vw;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.up-side {
    min-height: 30%;
}

.center {
    min-height: 40%;
    background-color: rgb(235, 235, 235);
}

.description {
    font-size: 2em;
    margin: 2em;
}

